@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Jacquard 12", serif;
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #090a16;
}

.nav {
  position: relative;
  width: 600px;
  height: 70px;
  background: linear-gradient(45deg, #0e9be4, #3d7a52);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.nav ul {
  display: flex;
  width: 550px;
}

.nav ul li {
  position: relative;
  width: 100%;
  height: 70px;
  list-style: none;
  z-index: 1;
}

.nav ul li div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  text-wrap: nowrap;
  cursor: pointer;
}

.nav ul li div .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: .5s;
}

.nav ul li.active div .icon {
  transform: translateY(-32px);
}

.nav ul li div .text {
  position: absolute;
  color: white;
  transform: translateY(20px);
  transition: .5s;
  opacity: 0;
}

.nav ul li.active div .text {
  transform: translateY(10px);
  opacity: 1;
}

.nav ul li div .circle {
  position: absolute;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  border: 2px solid white;
  transform: translateY(-35px) scale(0);
}

.nav ul li.active div .circle {
  transition: .5s;
  transition-delay: .5s;
  transform: translateY(-35px) scale(1);
}

.indicator {
  position: absolute;
  top: -47%;
  left: 45px;
  width: 58px;
  height: 58px;
  background: linear-gradient(45deg, #0e9be4, #3d7a52);
  border: 6px solid #090a16;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.indicator::before {
  content: '';
  position: absolute;
  top: 47%;
  left: -21px;
  width: 20px;
  height: 20px;
  border-top-right-radius: 21px;
  box-shadow: 1px -10px 0 #090a16; 
}

.indicator::after {
  content: '';
  position: absolute;
  top: 47%;
  right: -21px;
  width: 20px;
  height: 20px;
  border-top-left-radius: 21px;
  box-shadow: -1px -10px 0 #090a16; 
}

.nav ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(110px * 0));
}

.nav ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(110px * 1));
}

.nav ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(110px * 2));
}

.nav ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(110px * 3));
}

.nav ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(110px * 4));
}
